*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0d1117;
color:white;
}

/* Layout */

.container{
display:flex;
height:100vh;
}

/* Sidebar */

.sidebar{
width:220px;
background:#0b0f14;
padding:20px;
}

.sidebar h2{
color:#1de9b6;
margin-bottom:20px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:10px 0;
color:#cfd8dc;
cursor:pointer;
}

.sidebar li:hover{
color:#1de9b6;
}

/* Main */

.main{
flex:1;
text-align:center;
padding:40px;
}

.main h1{
color:#1de9b6;
margin-bottom:20px;
}

/* Search */

.search{
padding:10px;
width:300px;
border-radius:20px;
border:none;
margin-bottom:40px;
}

/* Hero Cards */

.hero-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.hero-card{
background:#1f2933;
padding:20px;
width:160px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.hero-card:hover{
transform:scale(1.05);
}

.hero-img{
width:60px;
height:60px;
background:white;
border-radius:50%;
margin:0 auto 10px;
}

@media (max-width: 768px){

.container{
flex-direction:column;
}

.sidebar{
width:100%;
display:flex;
justify-content:space-around;
}

.hero-container{
flex-direction:column;
align-items:center;
}

}